<h1>Add New Author</h1>
<form method="POST" action="/authors">
    Firstname:
    <input type="text" name="firstname">
    Lastname:
    <input type="text" name="lastname">
    Genre:
    <input type="text" name="genre">
    <input type="submit" value ="ADD">
</form>
